@font-face {
    font-family: 'Leo Rounded Pro';
    src: url('https://urielcuriel.dev/fonts/LeoRoundedProThin.woff2') format('woff2'),
        url('https://urielcuriel.dev/fonts/LeoRoundedProThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Leo Rounded Pro';
    src: url('https://urielcuriel.dev/fonts/LeoRoundedProRegular.woff2') format('woff2'),
        url('https://urielcuriel.dev/fonts/LeoRoundedProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Leo Rounded Pro';
    src: url('https://urielcuriel.dev/fonts/LeoRoundedProLight.woff2') format('woff2'),
        url('https://urielcuriel.dev/fonts/LeoRoundedProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

