@font-face {
    font-family: 'urielcuriel';
    src: url('urielcurielnormal.woff2') format('woff2'),
        url('urielcurielnormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

