@font-face {
    font-family: 'urielcuriel';
    src: url('https://urielcuriel.dev/fonts/urielcurielnormal.woff2') format('woff2'),
        url('https://urielcuriel.dev/fonts/urielcurielnormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

